@import "~ant-design-vue/lib/style/themes/default.less";
// @import "~ant-design-vue/dist/antd.less";

@primary-color:#1890ff;
// @layout-header-background:#12200433;
// @btn-primary-bg: #512da7;
// @header-bg-color:#F7D06B;
// @sider-dark-bg-color:#5160b6;
/*与此颜色对应的样式，默认情况也会跟主色变化的，要切换它对应的梯度颜色，使用setCustomTheme({gradientReplacer:{"#F7D06B"}})切换 */ 
@alert-success-bg-color:#52c41a;
// @alert-warning-bg-color:#6A38C6;
// @alert-warning-bg-color:~`colorPalette('@{warning-color}', 1) `;

/*圆角值，尽量与原值差别大一点，方便分析 targetValueReplacer 的可用属性，非颜色值的切换，可以使用 setCustomTheme({targetValueReplacer:{"6px"}}) 精准替换*/
@border-radius-base:2px;